<article class="post">
  <div class="title">
    <h2>{{title}}</h2>

     {{!-- <a href="{{post_url}}" target="_blank">{{title}}</a> --}}
    <p>{{body}}</p>
  </div>
  <div class="meta">
    Created by {{user.username}} on {{format_date createdAt}}
  </div>
</article>